@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <a asp-controller="Home" asp-action="Employeelist" class="btn btn-primary">List of Employee</a>
    <a asp-controller="Home" asp-action="CreateEditinfo" class="btn btn-primary">Create/Edit Info</a>
</div>
